<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script src="https://use.fontawesome.com/df74664aa7.js"></script>
    <script src="./js/angular.js" type="text/javascript"></script>
    <script src="./js/ngTouch.js" type="text/javascript"></script>
    <script src="./js/jquery-3.1.1.min.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controller.js"></script>
    <link rel="stylesheet" href="./styles/styles.css" />
</head>

<body ng-app="sliderApp">
    <div ng-controller="mainController">
        <div class="slider-wrapper">
            <div class="slider-container">

                <div class="slider" ng-style="{'left': slider.leftPos + '%'}">
                    <div ng-repeat="image in slider.images" ng-style="{'background-image':'url(./images/' + image + ')'}" class="slider-image" ng-swipe-right="scrollRight()">
                    </div>
                </div>
                <div class="bullets-container">
                    <div class="bullet" ng-repeat="image in slider.images" ng-class="{'active': isActive($index) }" ng-click="scrollTo($index)">
                    </div>
                </div>
                <div class="slider-nav-container">
                    <div class="slider-nav right" ng-click="scrollRight()">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                    <div class="slider-nav left" ng-click="scrollLeft()">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="controls">
            <div class="control-buttons-container">
                {{dupa}}
            </div>

        </div>
    </div>
</body>

</html>
