body {
    background: #44A08D;
    background: -webkit-linear-gradient(to left, #44A08D, #093637);
    background: linear-gradient(to left, #44A08D, #093637);
    margin: 0px;
    margin-right: 5px;
}

.slider-wrapper {
    height: 400px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    border: white 5px solid;
    border-radius: 4px;
    margin-top: 20px;
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slider {
    list-style-type: none;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    position: absolute;
    transition: left 1s;
    z-index: 2;
}

.slider-image {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-position: center;
}

.controls {
    text-align: center;
    margin-top: 10px;
}

.cotrol-buttons-container {
    color: white;
    font-size: 20px;
}

.bullets-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.bullet.active {
    background-color: black;
    border: 3px white solid;
    width: 9px;
    height: 9px;
}

.slider-nav {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    cursor: pointer;
    visibility: hidden;
    background-color: black;
    color: white;
    z-index: 6
}

.slider-nav.right {
    right: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), transparent);
    z-index: 7;
}

.slider-nav.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent);
    z-index: 7;
}

.slider-nav-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 4;
}

.slider-nav-container:hover>.slider-nav, .slider-nav:hover{
    visibility: visible;
}

.slider-nav-container>.slider-nav>i.fa {
    font-size: 30px;
    position: absolute;
    top: 50%;
    color: white;
    transform: translateY(-50%);
    z-index: 8;
    cursor: pointer;
}

.slider-nav-container>.slider-nav>i.fa-chevron-right {
    right: 15px;
}
.slider-nav-container>.slider-nav>i.fa-chevron-left {
    left: 15px;
}



@media (max-width:1024px) {
    .slider-wrapper {
        height: 300px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width:768px) {
    .slider-wrapper {
        height: 250px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border-width: 2px;
    }
}
